<div class="container-md container-login-form">
    <form class="login-form">
        <div class="mb-3">
            <input type="text" class="form-control" id="createInput" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="createEmail" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="createPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary login-btn">Create Account</button>
    </form>
</div>

<script src="../public/js/register.js"></script>